.mainExplorar {
    margin: 0 10px;
}


.opcionesExplorar {
    margin-top: 50px;
}

.botonExplorarPrimario {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    color: #fff;
    margin: 10px;
    background-color: $color-principal;

    &:hover {
        background-color: $color-secundario;
    }
}

.botonSecundario {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    margin: 10px;
}

.cardExplorar {
    margin: 50px;
    border: 1px solid #cfcfcf;
}

.tituloH1 {
    margin-top: 20px;
}

.bannerExplorar {
    background-image: url("../img/Banner\ tienda.png");
    background-size: cover;
    height: 400px;
    margin-bottom: 20px;
}

.tituloExplorar {
    text-align: center;
    padding-top: 160px;
}

.h1Explorar {
    color: black;
    font-weight: bold;
}


h2 {
    margin-bottom: 20px;
    color: $color-principal;
    font-weight: normal;
}

.badge {
    height: 53px;
    margin-right: 20px;
    cursor: pointer;
}